<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968327119450-l5h29u8nasuvqdqlgm3r68l3rs6urone.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968327119450-l5h29u8nasuvqdqlgm3r68l3rs6urone</string>
	<key>API_KEY</key>
	<string>AIzaSyDLeqO5K1FZJ9HWJo6EOR9IkqClbwnVa8o</string>
	<key>GCM_SENDER_ID</key>
	<string>968327119450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mlVisionTest</string>
	<key>PROJECT_ID</key>
	<string>mlvisiontest-a1a64</string>
	<key>STORAGE_BUCKET</key>
	<string>mlvisiontest-a1a64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968327119450:ios:1f60e08b574856d8340e63</string>
	<key>DATABASE_URL</key>
	<string>https://mlvisiontest-a1a64.firebaseio.com</string>
</dict>
</plist>